# Server

node_modules/
access.log
yarn-error.log

# end of Server


# Client

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
client/node_modules
client/.pnp
client/.pnp.js

# testing
client/coverage

# production
client/build

# misc

client/README.md

client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

# end of Client

# Sublime Misc

cfc-gya.sublime-project
cfc-gya.sublime-workspace

# Report
rapport/*.aux
rapport/*.fdb_latexmk
rapport/*.fls
rapport/*.log
rapport/*.pdf
rapport/*.synctex.gz
rapport/*.toc
rapport/*.out

# misc
session.vim
